--swiftversion 5.7
--maxwidth 80
--indent 2
--indentstrings true
--xcodeindentation true
--self init-only
--importgrouping testable-last
--wraparguments before-first

--enable acronyms
--enable wrapConditionalBodies
--enable blankLineAfterImports

--disable blankLinesAtStartOfScope
--disable redundantRawValues
--disable unusedArguments
--disable wrapMultilineStatementBraces
