--swiftversion 5.7
--indent tab
--maxwidth 80

--allman false
--self init-only
--importgrouping testable-last
--commas inline
--wraparguments before-first
--indentstrings true
--xcodeindentation true

--enable acronyms
--enable isEmpty
--enable wrapConditionalBodies

--disable blankLinesAtStartOfScope
--disable andOperator
--disable redundantRawValues
--disable unusedArguments
--disable wrapMultilineStatementBraces
